* {
  font-family: Outfit;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.qr-card {
  width: 320px;
  height: 499px;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@media (height: 812px) {
  .qr-card {
    margin-top: 156.5px;
  }
}

@media (height: 960px) {
  .qr-card {
    margin-top: 230.5px;
  }
}

.qr-code {
  width: 288px;
  height: 288px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin: 1rem;
  margin-bottom: 24px;
}

.info-container {
  text-align: center;
  padding: 0 1rem;
  margin: 0 1rem;
}

.title {
  color: hsl(218, 44%, 22%);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
}